.header img{
    width: 250px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.header nav{
    background-color: #161616;
    padding: 10px 0px;
    text-align: center;
}
.header nav a {
    margin: 0px 20px;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    padding: 6px;
}
.header nav a:hover{
    background-color: #ffffff;
    color: #161616;
}